::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #7896e1;
    border-radius: 10px;
  } 

  ::-webkit-scrollbar-track {
    background-color: #ffffff;
  }

  

  .input:focus{
    border: 2px solid #7896e1;
    box-shadow: 0 0 10px #7896e1;
  }
   
  .savebutton:hover{
    box-shadow: 0 0 10px 5px rgba(195, 205, 255, 0.7);
    background-color: rgba(195, 205, 255, 0.7) !important;
  }